**/.terraform/
.terraform.lock.hcl
.terraform.tf
*.terraform.tfstate
*.terraform.tfstate.backup

.idea

id_aws
id_aws.pub

*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
package-lock.json
package.json
node_modules
